*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}


body {
  background-color: rgb(1, 5, 8);
  font-family: "Roboto", sans-serif;
}



nav li {
  list-style-type: none;
  cursor: pointer;
  letter-spacing: 1rem;
  padding: 10px;
  height: 30px;
}


nav ul li a {
  text-shadow: none;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: white;
}


nav ul li:hover a {
  font-size: 1.2rem;
  letter-spacing: 1.5rem;
  opacity: 1;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}


nav ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 20%;
  margin-left: 5%;
}


nav {
  position: fixed;
  width: 20vw;
  height: 80vh;
  border-right: 1px solid rgba(151, 151, 151, 0.6);
  margin-top: 2%;
  margin-bottom: 20%;
}


.section-container {
  color: white;
  margin-left: 20vw;
}


main {
  margin-top: 2%;
}


#home p:first-child {
  font-size: 2.5rem;
  padding-top: 8%;
}


#home p:nth-child(2) {
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
}


#home p:nth-child(3) {
  font-size: 2rem;
  margin-top: 2%;
  letter-spacing: .5rem;
}


#home p:nth-child(-n+3) {
  color: rebeccapurple;
}


#home p:nth-child(4) {
  margin-top: 5%;
  color: rgb(157, 157, 157);
  margin-top: 10%;
}


#home p {
  letter-spacing: 0.2rem;
  text-align: center;
}


#home {
  height: 90vh;
}


#home div{
  display: flex;
  justify-content: center;
}


.scroll-down-link {
  margin-top: 15%;
  color: rgb(203, 203, 203);
  letter-spacing: .5rem;
  text-decoration: none;
  padding: 10px;
  position: relative;
}


.scroll-down-link:hover {
  color: rgb(255, 255, 255);
}


#about h1 {
  text-align: center;
  padding-top: 7%;
  letter-spacing: 1rem;
}


.fa-solid.fa-arrow-down {
  animation: arrow-down-loop 1s infinite;
}


@keyframes arrow-down-loop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}


.scroll-down-link:hover .fa-solid.fa-arrow-down {
  animation: arrow-down-hover 1s infinite;
}


@keyframes arrow-down-hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}


#about {
  color: rgb(203, 203, 203);
  letter-spacing: 2px;
  height: 90vh;
}


.skill {
  display: flex;
  justify-content: center;
}


.skills {
  display: flex;
  gap: 2rem;
  margin-top: 3%;
}


.skills div {
  display: grid;
  align-items: center;
  justify-items: center;
}


.skills-logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
}



#projects {
  height: 90vh;
}


#projects h1 {
  text-align: center;
  margin-top: 10%;
  letter-spacing: 1rem;
}


.project-img {
  height: 250px;
  width: 500px;
  border: 1px solid red;
}


.project {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}


.project div:nth-child(2) {
  width: 95%;
}


.project div:nth-child(2) > * {
  padding-left: 5%;
}


.project h3 {
  letter-spacing: .5rem;
  margin-bottom: 5%;
}


.project p {
  letter-spacing: .1rem;
}


.project-container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}


.tech-logo {
  height: 40px;
  width: 40px;
  object-fit: contain;
}


.tech {
  margin-top: 3%;
  display: flex;
}


.tech div:first-child {
  display: flex;
  gap: 1rem;
}


.tech div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.project-link {
  text-decoration: none;
  background-color: rgb(74, 203, 81);
  color: black;
  padding: 10px;
  letter-spacing: 1rem;
  border-radius: 5px;
}


.project-link:hover {
  opacity: 0.7;
  border: 1px solid white;
  transition: all 0.3s;
}


#more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
}


#more-projects h1 {
  margin-bottom: 2%;
}