*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

body.light-mode {
  background-color: rgba(249, 249, 249);
}

#moon-icon.light-mode {
  color: rgb(157, 157, 157);
}

#sun-icon.light-mode{
  color: rgb(0, 0, 0);
  opacity: 1;
}

nav.light-mode {
  background-color: rgb(249, 249, 249);
}

.project.light-mode {
  border: 1px solid rgb(129, 129, 129);
  background-color: rgb(249, 249, 249);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}


nav a.light-mode,
.contacts.light-mode,
.scroll-down-link.light-mode,
.scroll-down-link:hover.light-mode,
#home p:nth-child(4).light-mode,
#about.light-mode,
#projects.light-mode
{
  color:black;
  opacity: 1;
}

body {
  background-color: rgb(1, 5, 8);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3cpath d='M796.4 411.17L828.13 411.17L828.13 442.9L796.4 442.9z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M43.97 18.05L87.77 18.05L87.77 61.85L43.97 61.85z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1181.18 425.34 a14.15 14.15 0 1 0 28.3 0 a14.15 14.15 0 1 0 -28.3 0z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1278.3 167.59a5.06 5.06 0 1 0-9.96 1.79z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M354.99 222.2a46.26 46.26 0 1 0 89.1 24.9z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M348.08 324L393.29 324L393.29 347.75L348.08 347.75z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M210.56 156.5L259.9 156.5L259.9 207.72L210.56 207.72z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1330.37 388.04L1356.35 388.04L1356.35 414.02L1330.37 414.02z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M102.6 441.76L153.22 441.76L153.22 492.38L102.6 492.38z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M132.47 62.33L183.3 62.33L183.3 117.89L132.47 117.89z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M472.54 481.6 a54.96 54.96 0 1 0 109.92 0 a54.96 54.96 0 1 0 -109.92 0z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1102.85 61.95 a2.91 2.91 0 1 0 5.82 0 a2.91 2.91 0 1 0 -5.82 0z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M61.11 537.84 a25.16 25.16 0 1 0 50.32 0 a25.16 25.16 0 1 0 -50.32 0z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M994.92 441.42 a27.65 27.65 0 1 0 55.3 0 a27.65 27.65 0 1 0 -55.3 0z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1193.49 491.58L1232.38 491.58L1232.38 501.9L1193.49 501.9z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1356.61 203.18a21.88 21.88 0 1 0 39.06 19.73z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M686.45 385.46 a37.05 37.05 0 1 0 74.1 0 a37.05 37.05 0 1 0 -74.1 0z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M66.25 347.51L85.62 347.51L85.62 384.83L66.25 384.83z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M574.61 506.63 a9.24 9.24 0 1 0 18.48 0 a9.24 9.24 0 1 0 -18.48 0z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M751.67 200.73L757.24 200.73L757.24 206.3L751.67 206.3z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1315.7 215.52L1366.07 215.52L1366.07 249.36L1315.7 249.36z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1157.81 126.64L1199.36 126.64L1199.36 168.19L1157.81 168.19z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1225.51 316.1L1280.78 316.1L1280.78 338.75L1225.51 338.75z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1143.68 149.97a18.52 18.52 0 1 0-37.02-1.23z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M885.67 396.54 a19.47 19.47 0 1 0 38.94 0 a19.47 19.47 0 1 0 -38.94 0z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1033.11 235.63L1037.74 235.63L1037.74 240.26L1033.11 240.26z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1189.62 232.56L1245.04 232.56L1245.04 287.98L1189.62 287.98z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M873.75 2.14 a33.81 33.81 0 1 0 67.62 0 a33.81 33.81 0 1 0 -67.62 0z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1426.38 148.07a52.38 52.38 0 1 0-103.7 14.91z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M789.91 427.77L816.83 427.77L816.83 454.69L789.91 454.69z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M291.43 512.61L331.06 512.61L331.06 529.47L291.43 529.47z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M1003.42 282.19L1006.63 282.19L1006.63 285.4L1003.42 285.4z' stroke='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3cpath d='M351.6 499.35a2.61 2.61 0 1 0-3.69-3.68z' fill='rgba(102%2c 51%2c 153%2c 0.1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}


.mode-switch {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  gap: 30px;
}


.mode-switch > *{
  cursor: pointer;
}


.fa-sun {
  opacity: 0.2;
}



.nav--page li {
  list-style-type: none;
  cursor: pointer;
  letter-spacing: 1rem;
  padding: 10px;
  height: 30px;
}

nav a {
  color: white;
  opacity: 0.6;
}

nav ul li a {
  text-shadow: none;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}


.nav--page li:hover a {
  font-size: 1.2rem;
  letter-spacing: 1.5rem;
  opacity: 1;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}


nav ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 20%;
  margin-left: 5%;
}


nav {
  position: fixed;
  width: 20vw;
  height: 100vh;
  border-right: 1px solid rgba(151, 151, 151, 0.6);

}

.contacts {
  color: white;
  opacity: 0.6;
  margin-left: 7%;
  margin-top: 20%;
}


.contacts a {
  opacity: 1;
}


.contacts li {
  list-style-type: none;
  height: 5px;
}


.contacts i{
  margin-right: 1rem;
}


.section-container {
  color: white;
  margin-left: 20vw;
  position: relative;
}


main {
  margin-top: 2%;
}


#home p:first-child {
  font-size: 2.5rem;
  padding-top: 8%;
}


#home p:nth-child(2) {
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
}


#home p:nth-child(3) {
  font-size: 2rem;
  margin-top: 2%;
  letter-spacing: .5rem;
}


#home p:nth-child(-n+3) {
  color: rgb(102, 51, 153);
}


#home p:nth-child(4) {
  margin-top: 5%;
  color: rgb(157, 157, 157);
  margin-top: 10%;
}


#home p {
  letter-spacing: 0.2rem;
  text-align: center;
}


#home {
  height: 90vh;
}


.scroll-down-wrapper {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down-container {
  display: flex;
  justify-content: center;
}


.scroll-down-link {
  color: rgb(203, 203, 203);
  letter-spacing: .5rem;
  text-decoration: none;
  padding: 10px;
}


.scroll-down-link:hover {
  color: rgb(255, 255, 255);
}


#about h1 {
  text-align: center;
  padding-top: 7%;
  letter-spacing: 1rem;
}


.fa-solid.fa-arrow-down {
  animation: arrow-down-loop 1s infinite;
}


@keyframes arrow-down-loop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}


.scroll-down-link:hover .fa-solid.fa-arrow-down {
  animation: arrow-down-hover 1s infinite;
}


@keyframes arrow-down-hover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}


#about {
  color: rgb(203, 203, 203);
  letter-spacing: 2px;
  height: 90vh;
}


.skill {
  display: flex;
  justify-content: center;
}


.skills {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 2rem;
  margin-top: 3%;
  max-width: 800px; 
}

.skills div {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100px;
}


.skills-logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
}



#projects {
  height: 90vh;
}


#projects h1 {
  text-align: center;
  letter-spacing: 1rem;
  padding-top: 5%;
  margin-top: 10%;
}


.project-img {
  height: 100%;
  width: 100%;
  background-size: contain;
}


.img-container {
  height: 17rem;
  width: 60rem;
  position: relative;
}


.img-container:hover .project-img {
  opacity: 0.3;
  transition: all .5s;
}


.img-container:hover .project-img-demo {
  opacity: 1;
  top: 50%;
}


.project-img-demo {
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 5px 15px 5px 15px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: all .5s;
  cursor: pointer;
}


.project-img-demo:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}


.project {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 10px;
  border-radius: 20px;
}


.project div:nth-child(2) {
  width: 100%;
}


.project div:nth-child(2) > * {
  margin-right: 5%;
}


.project h3 {
  letter-spacing: .5rem;
  margin-bottom: 2%;
}


.project p {
  letter-spacing: .1rem;
}


.project-container {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}


.tech-logo {
  height: 40px;
  width: 40px;
  object-fit: contain;
}


.tech {
  margin-top: 3%;
  display: flex;
}


.tech-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-start;
  align-items: center;
  margin-right: 10%;
  gap: 10px;
}


.links-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 2rem;
}


.links-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.7rem;
}


.project-details {
  display: flex;
}


.project-link {
  text-decoration: none;
  background-color: rgb(74, 203, 81);
  color: black;
  padding: .3rem;
  letter-spacing: 1rem;
  border-radius: 5px;
  margin: 0 auto;
}


.project-link:hover {
  opacity: 0.7;
  border: 1px solid white;
  transition: all 0.3s;
}


#more-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
}


#more-projects h1 {
  margin-bottom: 2%;
}



.scroll-down-container {
  display: flex;
  justify-content: center;
}



/* scroll-bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rebeccapurple;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 44, 121);
}


#menu {
  font-size: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  margin: 10px;
  background: none;
  border: none;
  z-index: 1000;
}


#menu-container {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  z-index: 999;
  display: none;
}


@media (max-width: 1024px) {
  nav {
    position: absolute;
    left: -250px;
  }

  .project p {
    letter-spacing: 0.03rem;
  }

  #home {
    margin: 0;
  }

  #about {
    margin: 0;
  }

  #projects {
    margin: 0;
  }

  #menu-container {
    left: 0 !important;
    display: block;
  }

  #nav.visible {
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    height: 100vh;
    z-index: 999;
    width: 100vw;
    margin-top: 0;
    padding-top: 50px;
  }
}


@media (max-width: 768px) {
  .skills-logo {
    width: 45px;
    height: 45px;
  }
  
  .project-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project h3 {
    text-align: center;
  }


  .project {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
  }


  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 890px;
  }

  .project p {
    margin-top: 5%;
  }

  .project div:nth-child(2) {
    padding: 0;
  }

  .project div:nth-child(2) > * {
    margin-right: 0;
  }

  .project-details > div:not(.links-container):nth-child(2) {
    width: 30rem;
  }

  .img-container {
    height: 22rem;
    width: 32rem;
  }
}

@media( max-width: 510px ) {
  .img-container {
    height: 20rem;
    width: 30rem;
  }
}

@media (max-width: 426px) {
  #home {
    margin-top: 10%;
  }

  #home p:nth-child(-n+3) {
    font-size: 1rem;
    margin-top: .5rem;
  }

  #home p:nth-child(4) {
    font-size: .7rem;
    text-align: center;
  }

  #home p:nth-child(3) {
    margin-bottom: 20%;
  }

  .skills-logo {
    width: 40px;
    height: 40px;
  }

  #about h1 {
    margin-top: 10%;
  }

  .project-details > div:not(.links-container):nth-child(2) {
    width: 90vw;
  }

  #home p:nth-child(3) {
    letter-spacing: 0.1rem;
  }

  .scroll-down-link {
    letter-spacing: 0.4rem;
  }

  .project-link {
    letter-spacing: 0.4rem;
  }

  .project h3 {
    font-size: 1rem;
  }

  .scroll-down-link {
    font-size: 0.6rem;
  }

  .links-container a{
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }

  .img-container {
    height: 15rem;
    width: 23rem;
  }
}


@media (max-width: 376px) {
  .img-container {
    width: 18rem;
    height: 12rem;
  }

  .tech-logo {
    height: 30px;
    width: 30px;
  }

  .skills-logo {
    width: 30px;
    height: 30px;
  }
}


@media (max-width: 321px) {
  .scroll-down-link {
    letter-spacing: 0.3rem;
  }

  .skills {
    gap: 1rem;
  }
}


@media (max-width: 505px) {
  #home p:nth-child(3) {
    font-size: 1rem;
  }

  #home p:nth-child(2) {
    font-size: 2rem;
  }

  #home p:first-child {
    font-size: 1.5rem;
    margin-top: 5rem;
  }

  .project p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .skills {
    margin-bottom: 3rem;
  }

  .skills p {
    font-size: 0.7rem;
  }

  .skills-logo {
    width: 35px;
    height: 35px;
  }

  .section-container h1 {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  #about h1 {
    letter-spacing: 0.5rem;
  }

  #about h1 {
    padding-top: 10%;
  }

  #more-projects h1 {
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
  }
}


@media (min-width: 3840px) {
  body {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  main{
    width: 70vw;
    border-right: 2px solid  rgba(129, 129, 129, 0.244);
    border-left: 2px solid  rgba(129, 129, 129, 0.244);
  }

  #home p:first-child {
  font-size: 5rem;
}


  #home p:nth-child(2) {
    font-size: 6rem;
  }


  #home p:nth-child(3) {
    font-size: 4.5rem;
    letter-spacing: .5rem;
  }

  
  .nav--page li:hover a {
    font-size: 2rem;
    letter-spacing: 2rem;
  }

  .contacts {
    letter-spacing: 5px;
  }

  .project div:nth-child(2) > * {
    margin-right: 1%;
  }

  .skills {
    margin-right: 0;
  }

  .scroll-down-link {
    font-size: 3rem;
    letter-spacing: .5rem;
  }

  
  .skills-logo {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }

  .skills {
    gap: 7rem;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 5%;
    font-size: 2.5rem;
  }


  .project-container {
    margin-right: 0%;
  }

  
  .project-link {
    padding: 3rem;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    border-radius: 10px;
  }


  .project-details > div:not(.links-container):nth-child(2) {
    width: 100%;
  }

  .project-details p {
    font-size: 2.5rem;
  }

  .img-container {
    height: 40rem;
    width: 85rem;
  }

  .section-container {
    margin-left: 10vw;
  }

  
  .tech-logo {
    height: 90px;
    width: 90px;
  }

  .project-img-demo {
    padding: 3rem;
    letter-spacing: 1.5rem;
    border-radius: 10px;
  }
}


@media (min-width: 2560px) and (max-width: 3840px) {
  body {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  main{
    width: 80vw;
    border-right: 2px solid  rgba(129, 129, 129, 0.244);
    border-left: 2px solid  rgba(129, 129, 129, 0.244);
  }

  #home p:first-child {
    font-size: 4rem;
  }


  #home p:nth-child(2) {
    font-size: 5rem;
  }


  #home p:nth-child(3) {
    font-size: 3.5rem;
    letter-spacing: .5rem;
  }

  
  .nav--page li:hover a {
    font-size: 2rem;
    letter-spacing: 2rem;
  }

  .contacts {
    letter-spacing: 2px;
  }

  .project div:nth-child(2) > * {
    margin-right: 1%;
  }

  .skills {
    margin-right: 0;
  }

  .scroll-down-link {
    font-size: 3rem;
    letter-spacing: .5rem;
  }

  
  .skills-logo {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }

  .skills {
    gap: 7rem;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 5%;
    font-size: 2.5rem;
  }


  .project-container {
    margin-right: 0%;
  }

  
  .project-link {
    padding: 2rem;
    font-size: 2rem;
    letter-spacing: 1rem;
    border-radius: 10px;
  }


  .project-details > div:not(.links-container):nth-child(2) {
    width: 100%;
  }

  .project-details p {
    font-size: 1.8rem;
  }

  .img-container {
    height: 30rem;
    width: 80rem;
  }

  .section-container {
    margin-left: 15vw;
  }

  
  .tech-logo {
    height: 70px;
    width: 70px;
  }

  .project-img-demo {
    padding: 1rem;
    letter-spacing: 2px;
    border-radius: 5px;
  }
}